Language: Cpp
BasedOnStyle: Google
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseColons: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveDeclarations: true
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false